/*
    Hide the Tags option in the Primo May 2017 release
*/

#main\20 menu > a:nth-child(1) {
    display: none;
}

#main\20 menu > a:nth-child(2) {
    box-shadow: 0 0 1px 0 rgba(0,0,0,.1);
}

#dialogContent_98 md-card:nth-child(1) {
    display: none;
}

/*
    Full record display hiding of tags
*/
#services-index > button:nth-child(7) {
    display: none;
}

#tags {
    display: none;
}