/* ExL changes from https://knowledge.exlibrisgroup.com/Primo/Knowledge_Articles/How_to_disable_the_tags_in_Primo_classic_and_new_UI */

/*Hide Tags in Detailed Display*/
[aria-label="Tags"]{display:none;}
#tags{display:none;}

/* Hide Tags in Main Menu when signed in – Tags and ETIQUETTES (French) will change depending on Code Table customizations */
.md-button[aria-label="nui.mainmenu.label.tags"] {display: none !important;}
[aria-label="TAGS"]{display:none !important;} /* added in Primo August 2017 release */

/* Hide Tags on full list (ellipsis) */
prm-main-menu md-card:nth-child(1) {
  display:none;
}

